* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: darkgray;
  }


  h1 {
      text-align: center;
  }

  ul {
      list-style-type: none;
      border: 2px solid darkgrey; 
      background-color: white;
      color: black;
      border-radius: 10px;
      max-width: 80%;
  }

  .answers-list li {
    margin: 5px;
    
  }

 p {
      display: flex;
      font-size: 18px;
      font-weight: bold;
      background-color: lightgray;
      padding: 5px;
      margin: 5px;
      max-width: 250px;
      border-radius: 10px;

  }